body {
    background-color: #a8b4a5;
}

#booking-query {
    background-color: rgba(0, 0, 0, .25);
    border-radius: 25px; 
    padding: 30px;
    color: #fafafa;
    text-align: center;
}

#booking-query > h2 {
    margin-bottom: 40px;
   
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
}

.text-input {
    background: rgba(0, 0, 0, .2);
    color: #fafafa;
    border: 1px solid #fafafa;
    border-radius: 2px;
    height: 30px;
    width: 80%;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
}

input::placeholder {
    color: #cfcfcf;
}