 /* ---------------------------------------------------------------Footer */
 footer {
    background-color: black;
    color: aliceblue;
    height: 50px;
    position: absolute;
    bottom: 0;
  }


.footer-container {
    padding: 0;
}

.footer-items {
    text-align: center;
    background-color: black;
    color: aliceblue;
    padding-top: 10px;
}

.footer-items span {
    font-size: 20px;
}

.copyright {
    padding-bottom: 15px;
    padding-top: 10px;
}

.footer-list i {
    font-size: 40px;
    color: aliceblue;
}

.footer-list .fa-square-facebook:hover {
    color: rgba(98, 114, 237, 0.905);
    transition: 0.5s;
}

.footer-list .fa-square-twitter:hover {
    color: rgba(63, 193, 248, 0.905);
    transition: 0.5s
}

.footer-list .fa-instagram:hover {
    color: rgba(159, 25, 208, 0.905);
    transition: 0.5s;
}